body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calendar {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
}

.calendar-header button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.4em;
    cursor: pointer;
    outline: none;
}

#monthYear {
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
}

.weekdays {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.weekday {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
    color: #555;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    padding: 10px;
}

.day {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.day:hover {
    background-color: #f0f0f0;
}

.today {
    background-color: #007bff;
    color: #fff;
}

.selected {
    background-color: #0056b3;
    color: #fff;
}

.todo-sidebar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
    min-width: 200px;
    height: 100%;
    overflow-y: auto;
}

.todo-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.todo-list {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.todo-item {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.todo-header {
    height: max-content;
    width: 100%;
}

.todo-delete {
    float: right;
    display: inline;
}

.todo-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
    display: inline;
}

.todo-content {
    margin-top: 5px;
    color: #777;
}

.add-todo {
    margin-top: 10px;
}

.add-todo input[type="text"],
.add-todo textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allow textarea to be resizable vertically */
}

.add-todo button {
    width: 100%;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-todo button:hover {
    background-color: #0056b3;
}
