.ui {
    height: 100%;
    width: 10%;
    
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note {
    height: 100%;
    width: 90%;
    background-color: cornflowerblue;
}

.container {
    width: 100%;
    height: 100%;
    
    display: flex;
}

.main-node {
    width: 90%;
    height: 80px;

    background-color: aquamarine;
    margin: 10px 0px;
}

.sub-node {
    width: 80%;
    height: 70px;

    background-color: aquamarine;
    margin: 5px 0px;
}